{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block main %}
    <div class="container-fluid ">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>surname</th>
                        <th>name</th>
                        <th>patronymic</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client in clients %}
                       <tr>
                            <td>{{ client.id }}</td>
                            <td>{{ client.surname }}</td>
                            <td>{{ client.name }}</td>
                            <td>{{ client.patronymic }}</td>
                            <td><a href="{{ path('show_client', {'id': client.id}) }}" class="btn btn-info">More</a></td>
                       </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
